<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <div class="container mt-4">
        <div>
            <div class="p-3 mb-2 bg-secondary text-white fs-4">포트폴리오 백테스트</div>
            <div class="p-3 border">
                <form th:action="@{/backtest-portfolio}" method="post">
                    <div>
                        <label for="startYear" class="form-label fs-5 fw-bold">시작 년도</label>
                        <select class="form-select" name="startYear">
                            <option th:each="year : ${#numbers.sequence(2023, 2023)}" th:text="${year}" th:value="${startYear}"></option>
                        </select>
                        <label for="startYear" class="form-label fs-5 fw-bold">끝 년도</label>
                        <select class="form-select" name="endYear">
                            <option th:each="year : ${#numbers.sequence(2023, 2023)}" th:text="${year}" th:value="${endYear}"></option>
                        </select>

                        <label for="startAmount" class="form-label fs-5 fw-bold">시작 금액</label>
                        <input type="text" class="form-control" name="startAmount" th:value="${startAmount}">
                    </div>

                    <hr role="separator" aria-orientation="horizontal" class="v-divider theme--light">
                    <div class="mx-2">
                        <div class="p-3 mb-2 bg-secondary text-white fs-5 bg-opacity-50">포트폴리오 구성</div>
                        <div id="inputFields">
                            <div class="row m-2" th:each="i : ${#numbers.sequence(1, count)}" th:id="'input' + ${i}">
                                <div class="col-3">
                                    <label th:text="'종목 ' + ${i}">종목</label>
                                </div>
                                <div class="col-5">
                                    <input type="text" class="form-control" th:value="'stock' + ${i}" th:name="'stock' + ${i}" th:placeholder="'종목 ' + ${i}">
                                </div>
                                <div class="col-4">
                                    <input type="text" class="form-control" th:value="'weight' + ${i}" th:name="'weight' + ${i}" th:placeholder="'비중 ' + ${i}">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col text-center">
                        <button type="button" id="addInput" class="btn btn-secondary">+</button>
                        <button type="button" class="btn btn-secondary" onclick="removeInput(1)">-</button>
                    </div>
                    <hr role="separator" aria-orientation="horizontal" class="v-divider theme--light">
                    <div class="col text-center">
                        <button type="submit" class="btn btn-dark">Submit</button>
                    </div>
                    <input type="hidden" name="count" th:value="${count}">

                </form>
            </div>
        </div>

        <div th:if="${data != null}">
            <div class="p-2 mb-2 my-2 bg-secondary text-white fs-5">결과</div>
            <table class="table">
                <thead>
                <tr>
                    <th>일자</th>
                    <th>ror</th>
                    <th>금액</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="i : ${#numbers.sequence(0, #lists.size(data.periods) - 1)}">
                    <td th:text="${data.periods[i]}"></td>
                    <td th:text="${data.returns[i]}"></td>
                    <td th:text="${data.amount[i]}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        var countInput = document.querySelector('input[name="count"]');
        var x = parseInt(countInput.value);
      document.addEventListener('DOMContentLoaded', function () {
          var maxFields = 10;
          var addButton = document.getElementById('addInput');
          var inputFields = document.getElementById('inputFields');
          var countField = document.querySelector('input[name="count"]');

          addButton.addEventListener('click', function () {
              if (x < maxFields) {
                  x++;
                  countField.value = x;
                  var newField = document.createElement('div');
                  newField.classList.add('row', 'm-2');
                  newField.id = 'input' + x;
                  newField.innerHTML = `
                      <div class="col-3">
                          종목 ${x}
                      </div>
                      <div class="col-5">
                          <input type="text" class="form-control" name="stock${x}" placeholder="종목 ${x}">
                      </div>
                      <div class="col-4">
                          <input type="text" class="form-control" name="weight${x}" placeholder="비중 ${x}">
                      </div>
                  `;
                  inputFields.appendChild(newField);
              } else {
                  alert('더 이상 추가할 수 없습니다.');
              }
          });


      });

      function removeInput(id) {
          var elemToRemove = document.getElementById('input' + x);
          elemToRemove.parentNode.removeChild(elemToRemove);
          x--;
          countField.value = x;
      }

    </script>
</div>
</html>
