<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <div class="container mt-4">
        <div>
            <div class="p-3 mb-2 bg-secondary text-white fs-4">수익률 계산기</div>
            <div class="p-3 border">
                <form th:action="@{/calculator/ror}">
                    <label for="buyPrice" class="form-label fs-7 fw-bold">매수 금액</label>
                    <input type="text" class="form-control" name="buyPrice" th:value="${buyPrice}">
                    <label for="quantity" class="form-label fs-7 fw-bold">매수 수량</label>
                    <input type="text" class="form-control" name="quantity" th:value="${quantity}">
                    <label for="sellPrice" class="form-label fs-7 fw-bold">매도 금액</label>
                    <input type="text" class="form-control" name="sellPrice" th:value="${sellPrice}">
                    <div class="col text-center my-3">
                        <button type="submit" class="btn btn-dark">Submit</button>
                    </div>
                </form>
            </div>

            <hr role="separator" aria-orientation="horizontal" class="v-divider theme--light">
            <div class="p-3 border">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">수익률</th>
                        <th scope="col">수익금</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${ror!= null} ? ${ror} : 0"></td>
                        <td th:text="${profit!= null} ? ${profit} : 0"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="my-2">
            <div class="p-3 mb-2 bg-secondary text-white fs-4">복리 계산기</div>
            <div class="p-3 border">
                <form th:action="@{/calculator/welfare}">
                    <label for="price" class="form-label fs-7 fw-bold">초기 금액</label>
                    <input type="text" class="form-control" name="price" th:value="${price}">
                    <label for="term" class="form-label fs-7 fw-bold">복리 횟수</label>
                    <input type="text" class="form-control" name="term" th:value="${term}">
                    <label for="welfareRor" class="form-label fs-7 fw-bold">수익률</label>
                    <input type="text" class="form-control" name="welfareRor" th:value="${welfareRor}">
                    <div class="col text-center my-3">
                        <button type="submit" class="btn btn-dark">Submit</button>
                    </div>
                </form>
            </div>
            <hr role="separator" aria-orientation="horizontal" class="v-divider theme--light">
            <div class="p-3 my-1 border">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">총 수익</h5>
                                <p class="card-text" th:text="${totalProfit}"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">최종 금액</h5>
                                <p class="card-text" th:text="${finalAmount}"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr role="separator" aria-orientation="horizontal" class="v-divider theme--light">
                <div th:if="${rorList != null}">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>횟수</th>
                            <th>수익</th>
                            <th>총액</th>
                            <th>수익률</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- 여기에 각 행을 추가 -->
                            <tr th:each="index : ${#numbers.sequence(0, rorList.size()-1)}">
                                <td th:text="${index+1}"></td>
                                <td th:text="${revenueList.get(index)}"></td>
                                <td th:text="${priceList.get(index)}"></td>
                                <td th:text="${rorList.get(index)}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
</html>
