<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <div class="container mt-4">
        <div>
            <div class="p-3 mb-2 bg-secondary text-white fs-4">내 포트폴리오</div>
            <div class="row px-3 mb-1">
                <div class="col bg-secondary text-white fs-6">
                    내 포트폴리오
                </div>
                <div class="col bg-secondary text-white fs-6">
                    설명
                </div>
                <div class="col bg-secondary text-white fs-6">
                    Option
                </div>
            </div>
            <div class="px-3 mb-1 py-1" th:each="portfolio : ${portfolios}">
                <form th:action="@{/portfolio/compositions}" method="post">
                    <input type="hidden" th:name="id" th:value="${portfolio.id}">
                    <div class="row">
                        <div class="col">
                            <span th:text="${portfolio.name}"></span>
                        </div>
                        <div class="col">
                            <span th:text="${portfolio.description}"></span>
                        </div>
                        <div class="col ">
                            <input type="submit" value="상세보기" class="btn btn-secondary">
                            <input type="submit" value="삭제" class="btn btn-dark" onclick="javascript: form.action='/portfolio/delete';"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</html>